Source: onioncat
Section: comm
Priority: optional
Maintainer: Haselbacher Ferdinand <fhasex20@cypherpunk.at>
Build-Depends: debhelper (>= 7), autotools-dev
Standards-Version: 3.8.0
Homepage: http://www.cypherpunk.at/onioncat

Package: onioncat
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: An IP-Transparent Tor Hidden Service Connector
 OnionCat creates a transparent IP layer on top of Tor's hidden services. It transmits any kind of IP-based data transparently through the Tor network on a location hidden basis. You can think of it as a point-to-multipoint VPN between hidden services.
